---
pagination:
  data: media
  size: 1
  alias: media
permalink: "media/{{ media.n2id | slugify }}_insert.html"
---
<a href="media/{{ media.n2id | slugify }}">
<h3>{{media.name}}</h3>
<img width="250" height="250" src="media/{{media.file}}"/>
<p>{{media.caption}}</p>
</a>